# Node.js
node_modules/
dist/
build/

# pnpm
.pnpm-debug.log
.pnpm-store/

# TypeScript
*.tsbuildinfo

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
.env.*

# IDEs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Testing
coverage/
nyc_output/

# Optional cache
.c